{% from 'macros/_misc.html' import render_pagination, render_user_table %}

{% extends 'layouts/base.html' %}

{% block title %}Browse {{category.name}} Software{% endblock %}

{% block body %}
<div>
  <ol class="breadcrumb">
  <li><a href="{{ url_for('frontend.browse') }}">Browse</a></li>
  <li class="active">{{category.name}}</li>
</ol>

<h2>Browse Software - {{category.name}}</h2>

<div class="row">
  {% for cpt in components %}
  <div class="col-xs-5 col-md-3">
    <a class="btn btn-default" role="button" href="{{ url_for('frontend.software_page', cpt_id=cpt.cid) }}" style="margin-bottom: 20px;">
      <img src="{{ get_icon_url_for_pkg(repo, cpt.packages[0]) }}" alt="{{cpt.name}}" height="64px" width="64px" />&nbsp;
      {{cpt.name}}
    </a>
  </div>
  {% else %}
  <div class="col-md-8">
    <p>Sorry, looks like there is nothing to show here.</p>
  </div>
  {% endfor %}
</div>

{% endblock %}
