{% extends "admincp/layout.html" %}

{% block body %}
<div class="container">
    <h2>Users</h2>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>Username</th>
                <th>Active</th>
                <th>Roles</th>
                <th>Created Time</th>
                <th></th>
            </tr>
        </thead>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.active }}</td>
            <td>
            {% for role in user.roles %}
                {{ role.name }} |
            {% endfor %}
	    </td>
            <td>{{ user.created_time|format_date }}</td>
            <td><a href="{{ url_for('admincp.user', user_id=user.id) }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
